/node_modules
/admin/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/test.json
/.vagrant
/admin/.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/admin/docs
/build
/admin/build
resources/.DS_Store
