.blogetc_container {

    .title {
        a {
            color: #337ab7;
            text-decoration: none;
        }

        a:hover {
            color: #23527c;
            text-decoration: underline;
        }
    }
}
