.header_mid .header_mid_inner .logo_wrap {
    width : 175px;
}

.header_mid_inner .logo .logo_retina {
    width : 175px;
}


.header_top {
    height : 50px;
}

.header_top .meta_wrap > *{
    line-height : 50px;
}

ul.top_line_nav > li > a {
    line-height : 48px;
}

.header_mid {
    height : 120px;
}

.header_bot {
    height : 70px;
}

#page.cmsmasters_heading_after_header #middle,
#page.cmsmasters_heading_under_header #middle .headline .headline_outer {
    padding-top : 120px;
}

#page.cmsmasters_heading_after_header.enable_header_top #middle,
#page.cmsmasters_heading_under_header.enable_header_top #middle .headline .headline_outer {
    padding-top : 170px;
}

#page.cmsmasters_heading_after_header.enable_header_bottom #middle,
#page.cmsmasters_heading_under_header.enable_header_bottom #middle .headline .headline_outer {
    padding-top : 190px;
}

#page.cmsmasters_heading_after_header.enable_header_top.enable_header_bottom #middle,
#page.cmsmasters_heading_under_header.enable_header_top.enable_header_bottom #middle .headline .headline_outer {
    padding-top : 240px;
}

@media only screen and (max-width: 1024px) {
    .header_top,
    .header_mid,
    .header_bot {
        height : auto !important;
    }

    .header_mid .header_mid_inner > div:not(.header_mid_interface),
    .header_mid .header_mid_inner .cmsmasters_header_cart_link ,
    .header_mid .header_mid_inner .resp_mid_nav_wrap ,
    .header_mid .header_mid_inner .cmsmasters_header_cart_link ,
    .header_mid .header_mid_inner .slogan_wrap ,
    .header_mid .header_mid_inner .mid_search_but_wrap {
        height : 120px;
    }

    #page.cmsmasters_heading_after_header #middle,
    #page.cmsmasters_heading_under_header #middle .headline .headline_outer,
    #page.cmsmasters_heading_after_header.enable_header_top #middle,
    #page.cmsmasters_heading_under_header.enable_header_top #middle .headline .headline_outer,
    #page.cmsmasters_heading_after_header.enable_header_bottom #middle,
    #page.cmsmasters_heading_under_header.enable_header_bottom #middle .headline .headline_outer,
    #page.cmsmasters_heading_after_header.enable_header_top.enable_header_bottom #middle,
    #page.cmsmasters_heading_under_header.enable_header_top.enable_header_bottom #middle .headline .headline_outer {
        padding-top : 0 !important;
    }
}

@media only screen and (max-width: 768px) {
    .header_mid .header_mid_inner > div,
    .header_bot .header_bot_inner > div,
    .header_mid .header_mid_inner > div:not(.header_mid_interface),
    .header_mid .header_mid_inner .cmsmasters_header_cart_link ,
    .header_mid .header_mid_inner .resp_mid_nav_wrap ,
    .header_mid .header_mid_inner .cmsmasters_header_cart_link ,
    .header_mid .header_mid_inner .slogan_wrap ,
    .header_mid .header_mid_inner .mid_search_but_wrap {
        height:auto;
    }
}

@media only screen and (max-width: 1024px) {
    .enable_header_centered .header_mid .header_mid_inner .cmsmasters_header_cart_link {
        height:auto;
    }
}

#cmsmasters_row_87v0q70mtp .cmsmasters_row_outer_parent {
    padding-top: 0px;
}

#cmsmasters_row_87v0q70mtp .cmsmasters_row_outer_parent {
    padding-bottom: 0px;
}


@media only screen and (max-width: 320px) {
    #cmsmasters_row_87v0q70mtp .cmsmasters_row_outer_parent {
        padding-top: 0px;
    }
}

@media only screen and (max-width: 320px) {
    #cmsmasters_row_87v0q70mtp .cmsmasters_row_outer_parent {
        padding-bottom: 0px;
    }
}
#cmsmasters_row_87v0q70mtp .cmsmasters_row_inner.cmsmasters_row_fullwidth {
    padding-left:0%;
}
#cmsmasters_row_87v0q70mtp .cmsmasters_row_inner.cmsmasters_row_fullwidth {
    padding-right:0%;
}




.hermes.tp-bullets{}.hermes .tp-bullet{overflow:hidden;  border-radius:50%;  width:16px;  height:16px;  background-color:rgba(0,0,0,0);  box-shadow:inset 0 0 0 2px rgb(255,255,255);  -webkit-transition:background 0.3s ease;  transition:background 0.3s ease;  position:absolute}.hermes .tp-bullet:hover{background-color:rgba(0,0,0,0.21)}.hermes .tp-bullet:after{content:' '; position:absolute; bottom:0; height:0; left:0; width:100%; background-color:rgb(255,255,255); box-shadow:0 0 1px rgb(255,255,255); -webkit-transition:height 0.3s ease; transition:height 0.3s ease}.hermes .tp-bullet.selected:after{height:100%}#cmsmasters_row_krefisx25l {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            background-image: url(https://denta.cmsmasters.net/demo/wp-content/uploads/sites/5/2017/08/rectangle-9-copy-4-min-3-2.jpg);
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            background-position: top center;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            background-repeat: no-repeat;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            background-attachment: scroll;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            background-size: cover;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        }

#cmsmasters_row_krefisx25l .cmsmasters_row_outer_parent {
    padding-top: 30px;
}

#cmsmasters_row_krefisx25l .cmsmasters_row_outer_parent {
    padding-bottom: 80px;
}


@media only screen and (max-width: 1024px) {
    #cmsmasters_row_krefisx25l .cmsmasters_row_outer_parent {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 1024px) {
    #cmsmasters_row_krefisx25l .cmsmasters_row_outer_parent {
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 768px) {
    #cmsmasters_row_krefisx25l .cmsmasters_row_outer_parent {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 768px) {
    #cmsmasters_row_krefisx25l .cmsmasters_row_outer_parent {
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 540px) {
    #cmsmasters_row_krefisx25l .cmsmasters_row_outer_parent {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 540px) {
    #cmsmasters_row_krefisx25l .cmsmasters_row_outer_parent {
        padding-bottom: 35px;
    }
}

@media only screen and (max-width: 320px) {
    #cmsmasters_row_krefisx25l .cmsmasters_row_outer_parent {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 320px) {
    #cmsmasters_row_krefisx25l .cmsmasters_row_outer_parent {
        padding-bottom: 25px;
    }
}


#cmsmasters_heading_8msi8zv8e4 {
    text-align:left;
    margin-top:38px;
    margin-bottom:0px;
}

#cmsmasters_heading_8msi8zv8e4 .cmsmasters_heading {
    text-align:left;
}

#cmsmasters_heading_8msi8zv8e4 .cmsmasters_heading, #cmsmasters_heading_8msi8zv8e4 .cmsmasters_heading a {
    font-family:'Fira Sans';
    font-size:20px;
    font-weight:300;
    color:#ffffff;
}

#cmsmasters_heading_8msi8zv8e4 .cmsmasters_heading a:hover {
}

#cmsmasters_heading_8msi8zv8e4 .cmsmasters_heading_divider {
}




#cmsmasters_clients_kesaqqkle .cmsmasters_clients_item { height:100px; line-height:100px; }
#cmsmasters_clients_kesaqqkle .cmsmasters_clients_item a { line-height:100px; }

#cmsmasters_column_spa4ieohck .cmsmasters_column_inner {
    padding: 5px 0 60px;
}


@media only screen and (max-width: 768px) {
    #cmsmasters_column_spa4ieohck .cmsmasters_column_inner {
        padding: 5px 0 50px;
    }
}

#cmsmasters_divider_autp56lec7 {
    border-bottom-width:1px;
    border-bottom-style:solid;
    margin-top:20px;
    margin-bottom:0px;
    border-bottom-color:#348395;
}

#cmsmasters_column_hxd4j3l8z {
    background-color:rgba(10,96,118,0.3);
    border-width:20px;
    border-color:rgba(158,158,158,0);
    -webkit-border-radius:20px 20px 20px 20px;
    border-radius:20px 20px 20px 20px; overflow:hidden;
}

#cmsmasters_column_hxd4j3l8z .cmsmasters_column_inner {
    padding: 10% 10% 10% 10%;
}


@media only screen and (max-width: 768px) {
    #cmsmasters_column_hxd4j3l8z .cmsmasters_column_inner {
        padding: 0 10%;
    }
}

@media only screen and (max-width: 540px) {
    #cmsmasters_column_hxd4j3l8z .cmsmasters_column_inner {
        padding: 0 5%;
    }
}

#cmsmasters_icon_4f065lgryk {
    display:block;
    text-align:center; }

#cmsmasters_icon_4f065lgryk .cmsmasters_simple_icon {
    border-width:0px;
    width:80px;
    height:80px;
    font-size:60px;
    line-height:80px;
    text-align:center;
    -webkit-border-radius:50%;
    border-radius:50%;
    color:#29ceff;}
#cmsmasters_icon_4f065lgryk a:hover .cmsmasters_simple_icon {}
#cmsmasters_icon_4f065lgryk .cmsmasters_simple_icon_title {
    color:#29ceff;}
#cmsmasters_icon_4f065lgryk a:hover .cmsmasters_simple_icon_title {}


#cmsmasters_heading_fl68kbfyh3 {
    text-align:center;
    margin-top:20px;
    margin-bottom:30px;
}

#cmsmasters_heading_fl68kbfyh3 .cmsmasters_heading {
    text-align:center;
}

#cmsmasters_heading_fl68kbfyh3 .cmsmasters_heading, #cmsmasters_heading_fl68kbfyh3 .cmsmasters_heading a {
    font-size:36px;
    color:#ffffff;
}

#cmsmasters_heading_fl68kbfyh3 .cmsmasters_heading a:hover {
}

#cmsmasters_heading_fl68kbfyh3 .cmsmasters_heading_divider {
}

@media (max-width: 1024px) {

    #cmsmasters_heading_fl68kbfyh3 .cmsmasters_heading, #cmsmasters_heading_fl68kbfyh3 .cmsmasters_heading a {
        font-size:28px;
    }

}



#cmsmasters_heading_l7bi6w0kd {
    text-align:center;
    margin-top:10px;
    margin-bottom:30px;
}

#cmsmasters_heading_l7bi6w0kd .cmsmasters_heading {
    text-align:center;
}

#cmsmasters_heading_l7bi6w0kd .cmsmasters_heading, #cmsmasters_heading_l7bi6w0kd .cmsmasters_heading a {
    font-family:'Arimo';
    font-size:16px;
    line-height:26px;
    color:#ffffff;
}

#cmsmasters_heading_l7bi6w0kd .cmsmasters_heading a:hover {
}

#cmsmasters_heading_l7bi6w0kd .cmsmasters_heading_divider {
}



#cmsmasters_button_u1h0keibig {

    text-align:center;

}

#cmsmasters_button_u1h0keibig .cmsmasters_button:before {
    margin-right:.5em;
    margin-left:0;
    vertical-align:baseline;
}

#cmsmasters_button_u1h0keibig .cmsmasters_button {
    line-height:26px;
    padding-right:20px;
    padding-left:20px;
    background-color:rgba(255,255,255,0.2);-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#cmsmasters_button_u1h0keibig .cmsmasters_button:hover {
    background-color:#ffffff;-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color:#0a6076;
}


#cmsmasters_divider_z7zrrx8s9 {
    border-bottom-width:0px;
    border-bottom-style:solid;
    margin-top:0px;
    margin-bottom:20px;
}

#cmsmasters_column_q26amddodm {
    background-color:rgba(10,96,118,0.3);
    -webkit-border-radius:20px 20px 20px 20px ;
    border-radius:20px 20px 20px 20px ; overflow:hidden;
}

#cmsmasters_column_q26amddodm .cmsmasters_column_inner {
    padding: 10% 10% 10% 10%;
}


@media only screen and (max-width: 768px) {
    #cmsmasters_column_q26amddodm .cmsmasters_column_inner {
        padding: 0 10%;
    }
}

@media only screen and (max-width: 540px) {
    #cmsmasters_column_q26amddodm .cmsmasters_column_inner {
        padding: 0 5%;
    }
}

#cmsmasters_icon_p4mej0vkwe {
    display:block;
    text-align:center; }

#cmsmasters_icon_p4mej0vkwe .cmsmasters_simple_icon {
    border-width:0px;
    width:80px;
    height:80px;
    font-size:60px;
    line-height:80px;
    text-align:center;
    -webkit-border-radius:50%;
    border-radius:50%;
    color:#25e7d7;}
#cmsmasters_icon_p4mej0vkwe a:hover .cmsmasters_simple_icon {}
#cmsmasters_icon_p4mej0vkwe .cmsmasters_simple_icon_title {
    color:#25e7d7;}
#cmsmasters_icon_p4mej0vkwe a:hover .cmsmasters_simple_icon_title {}


#cmsmasters_heading_kozbqtohjo {
    text-align:center;
    margin-top:20px;
    margin-bottom:30px;
}

#cmsmasters_heading_kozbqtohjo .cmsmasters_heading {
    text-align:center;
}

#cmsmasters_heading_kozbqtohjo .cmsmasters_heading, #cmsmasters_heading_kozbqtohjo .cmsmasters_heading a {
    font-size:36px;
    color:#ffffff;
}

#cmsmasters_heading_kozbqtohjo .cmsmasters_heading a:hover {
}

#cmsmasters_heading_kozbqtohjo .cmsmasters_heading_divider {
}

@media (max-width: 1024px) {

    #cmsmasters_heading_kozbqtohjo .cmsmasters_heading, #cmsmasters_heading_kozbqtohjo .cmsmasters_heading a {
        font-size:28px;
    }

}



#cmsmasters_heading_fwbqv1yi4f {
    text-align:center;
    margin-top:10px;
    margin-bottom:30px;
}

#cmsmasters_heading_fwbqv1yi4f .cmsmasters_heading {
    text-align:center;
}

#cmsmasters_heading_fwbqv1yi4f .cmsmasters_heading, #cmsmasters_heading_fwbqv1yi4f .cmsmasters_heading a {
    font-family:'Arimo';
    font-size:16px;
    line-height:26px;
    color:#ffffff;
}

#cmsmasters_heading_fwbqv1yi4f .cmsmasters_heading a:hover {
}

#cmsmasters_heading_fwbqv1yi4f .cmsmasters_heading_divider {
}



#cmsmasters_button_32x9ntagaq {

    text-align:center;

}

#cmsmasters_button_32x9ntagaq .cmsmasters_button:before {
    margin-right:.5em;
    margin-left:0;
    vertical-align:baseline;
}

#cmsmasters_button_32x9ntagaq .cmsmasters_button {
    line-height:26px;
    padding-right:20px;
    padding-left:20px;
    background-color:rgba(255,255,255,0.2);-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#cmsmasters_button_32x9ntagaq .cmsmasters_button:hover {
    background-color:#ffffff;-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color:#0a6076;
}


#cmsmasters_divider_1f6eyxbotj {
    border-bottom-width:0px;
    border-bottom-style:solid;
    margin-top:0px;
    margin-bottom:20px;
}

#cmsmasters_column_mi5l2gcqha {
    background-color:rgba(10,96,118,0.3);
    -webkit-border-radius:20px 20px 20px 20px ;
    border-radius:20px 20px 20px 20px ; overflow:hidden;
}

#cmsmasters_column_mi5l2gcqha .cmsmasters_column_inner {
    padding: 10% 10% 10% 10%;
}


@media only screen and (max-width: 768px) {
    #cmsmasters_column_mi5l2gcqha .cmsmasters_column_inner {
        padding: 0 10%;
    }
}

@media only screen and (max-width: 540px) {
    #cmsmasters_column_mi5l2gcqha .cmsmasters_column_inner {
        padding: 0 5%;
    }
}

#cmsmasters_icon_654ixwbu5j {
    display:block;
    text-align:center; }

#cmsmasters_icon_654ixwbu5j .cmsmasters_simple_icon {
    border-width:0px;
    width:80px;
    height:80px;
    font-size:60px;
    line-height:80px;
    text-align:center;
    -webkit-border-radius:50%;
    border-radius:50%;
    color:#54e9af;}
#cmsmasters_icon_654ixwbu5j a:hover .cmsmasters_simple_icon {}
#cmsmasters_icon_654ixwbu5j .cmsmasters_simple_icon_title {
    color:#54e9af;}
#cmsmasters_icon_654ixwbu5j a:hover .cmsmasters_simple_icon_title {}


#cmsmasters_heading_xhbkshzouh {
    text-align:center;
    margin-top:20px;
    margin-bottom:30px;
}

#cmsmasters_heading_xhbkshzouh .cmsmasters_heading {
    text-align:center;
}

#cmsmasters_heading_xhbkshzouh .cmsmasters_heading, #cmsmasters_heading_xhbkshzouh .cmsmasters_heading a {
    font-size:36px;
    color:#ffffff;
}

#cmsmasters_heading_xhbkshzouh .cmsmasters_heading a:hover {
}

#cmsmasters_heading_xhbkshzouh .cmsmasters_heading_divider {
}

@media (max-width: 1024px) {

    #cmsmasters_heading_xhbkshzouh .cmsmasters_heading, #cmsmasters_heading_xhbkshzouh .cmsmasters_heading a {
        font-size:28px;
    }

}



#cmsmasters_heading_j8uaa7y3z6 {
    text-align:center;
    margin-top:10px;
    margin-bottom:30px;
}

#cmsmasters_heading_j8uaa7y3z6 .cmsmasters_heading {
    text-align:center;
}

#cmsmasters_heading_j8uaa7y3z6 .cmsmasters_heading, #cmsmasters_heading_j8uaa7y3z6 .cmsmasters_heading a {
    font-family:'Arimo';
    font-size:16px;
    line-height:26px;
    color:#ffffff;
}

#cmsmasters_heading_j8uaa7y3z6 .cmsmasters_heading a:hover {
}

#cmsmasters_heading_j8uaa7y3z6 .cmsmasters_heading_divider {
}



#cmsmasters_button_vvt6rho4nn {

    text-align:center;

}

#cmsmasters_button_vvt6rho4nn .cmsmasters_button:before {
    margin-right:.5em;
    margin-left:0;
    vertical-align:baseline;
}

#cmsmasters_button_vvt6rho4nn .cmsmasters_button {
    line-height:26px;
    padding-right:20px;
    padding-left:20px;
    background-color:rgba(255,255,255,0.2);-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#cmsmasters_button_vvt6rho4nn .cmsmasters_button:hover {
    background-color:#ffffff;-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color:#0a6076;
}


#cmsmasters_divider_arrnwtfml {
    border-bottom-width:0px;
    border-bottom-style:solid;
    margin-top:0px;
    margin-bottom:20px;
}
#cmsmasters_row_uat9820e6s .cmsmasters_row_outer_parent {
    padding-top: 0px;
}

#cmsmasters_row_uat9820e6s .cmsmasters_row_outer_parent {
    padding-bottom: 0px;
}


#cmsmasters_row_uat9820e6s {
    margin-top: -1px;
}

@media only screen and (max-width: 1024px) {
    #cmsmasters_row_krefisx25l .cmsmasters_row_inner:nth-child(1) .cmsmasters_row_margin.cmsmasters_row_columns_behavior{
        display: block;
    }

    #cmsmasters_column_hxd4j3l8z,
    #cmsmasters_column_q26amddodm,
    #cmsmasters_column_mi5l2gcqha{
        margin-bottom: 20px;
    }

    #cmsmasters_column_hsj5eysij5{
        width: 100%;
    }
}#cmsmasters_row_x6b69c0tqc {
     background-color:#0b6479;
 }

#cmsmasters_row_x6b69c0tqc .cmsmasters_row_outer_parent {
    padding-top: 80px;
}

#cmsmasters_row_x6b69c0tqc .cmsmasters_row_outer_parent {
    padding-bottom: 80px;
}


@media only screen and (max-width: 1024px) {
    #cmsmasters_row_x6b69c0tqc .cmsmasters_row_outer_parent {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 1024px) {
    #cmsmasters_row_x6b69c0tqc .cmsmasters_row_outer_parent {
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 768px) {
    #cmsmasters_row_x6b69c0tqc .cmsmasters_row_outer_parent {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 768px) {
    #cmsmasters_row_x6b69c0tqc .cmsmasters_row_outer_parent {
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 540px) {
    #cmsmasters_row_x6b69c0tqc .cmsmasters_row_outer_parent {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 540px) {
    #cmsmasters_row_x6b69c0tqc .cmsmasters_row_outer_parent {
        padding-bottom: 35px;
    }
}

@media only screen and (max-width: 320px) {
    #cmsmasters_row_x6b69c0tqc .cmsmasters_row_outer_parent {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 320px) {
    #cmsmasters_row_x6b69c0tqc .cmsmasters_row_outer_parent {
        padding-bottom: 25px;
    }
}

#cmsmasters_column_hd783fvb7p .cmsmasters_column_inner {
    padding: 7% 32% 7% 0%;
}


@media only screen and (max-width: 1024px) {
    #cmsmasters_column_hd783fvb7p .cmsmasters_column_inner {
        padding: 7% 10% 7% 0%;
    }
}

@media only screen and (max-width: 768px) {
    #cmsmasters_column_hd783fvb7p .cmsmasters_column_inner {
        padding: 7% 10% 7% 0%;
    }
}

@media only screen and (max-width: 540px) {
    #cmsmasters_column_hd783fvb7p .cmsmasters_column_inner {
        padding: 0 5%;
    }
}

@media only screen and (max-width: 320px) {
    #cmsmasters_column_hd783fvb7p .cmsmasters_column_inner {
        padding: 0 0%;
    }
}

#cmsmasters_heading_ji8wk1bb0m {
    text-align:left;
    margin-top:0px;
    margin-bottom:0px;
}

#cmsmasters_heading_ji8wk1bb0m .cmsmasters_heading {
    text-align:left;
}

#cmsmasters_heading_ji8wk1bb0m .cmsmasters_heading, #cmsmasters_heading_ji8wk1bb0m .cmsmasters_heading a {
    font-family:'Fira Sans';
    font-size:22px;
    line-height:28px;
    font-weight:300;
    color:#19bfd1;
}

#cmsmasters_heading_ji8wk1bb0m .cmsmasters_heading a:hover {
}

#cmsmasters_heading_ji8wk1bb0m .cmsmasters_heading_divider {
}



#cmsmasters_heading_zk1jtzcqg {
    text-align:left;
    margin-top:20px;
    margin-bottom:30px;
}

#cmsmasters_heading_zk1jtzcqg .cmsmasters_heading {
    text-align:left;
}

#cmsmasters_heading_zk1jtzcqg .cmsmasters_heading, #cmsmasters_heading_zk1jtzcqg .cmsmasters_heading a {
    font-size:38px;
    line-height:44px;
    color:#ffffff;
}

#cmsmasters_heading_zk1jtzcqg .cmsmasters_heading a:hover {
}

#cmsmasters_heading_zk1jtzcqg .cmsmasters_heading_divider {
}



#cmsmasters_column_31vrmatqwr {
    background-color:rgba(255,255,255,0.95);
    -webkit-border-radius:20px 20px 20px 20px;
    border-radius:20px 20px 20px 20px; overflow:hidden;
}

#cmsmasters_column_31vrmatqwr .cmsmasters_column_inner {
    padding: 7% 7% 7% 7%;
}


@media only screen and (max-width: 768px) {
    #cmsmasters_column_31vrmatqwr .cmsmasters_column_inner {
        padding: 30px 10%;
    }
}

@media only screen and (max-width: 540px) {
    #cmsmasters_column_31vrmatqwr .cmsmasters_column_inner {
        padding: 30px 10%;
    }
}
#cmsmasters_row_5ioidx849 {
    background-color:#e3eef3;
}

#cmsmasters_row_5ioidx849 .cmsmasters_row_outer_parent {
    padding-top: 80px;
}

#cmsmasters_row_5ioidx849 .cmsmasters_row_outer_parent {
    padding-bottom: 115px;
}


@media only screen and (max-width: 1024px) {
    #cmsmasters_row_5ioidx849 .cmsmasters_row_outer_parent {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 1024px) {
    #cmsmasters_row_5ioidx849 .cmsmasters_row_outer_parent {
        padding-bottom: 15px;
    }
}

@media only screen and (max-width: 768px) {
    #cmsmasters_row_5ioidx849 .cmsmasters_row_outer_parent {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 768px) {
    #cmsmasters_row_5ioidx849 .cmsmasters_row_outer_parent {
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 540px) {
    #cmsmasters_row_5ioidx849 .cmsmasters_row_outer_parent {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 540px) {
    #cmsmasters_row_5ioidx849 .cmsmasters_row_outer_parent {
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 320px) {
    #cmsmasters_row_5ioidx849 .cmsmasters_row_outer_parent {
        padding-top: 0px;
    }
}

@media only screen and (max-width: 320px) {
    #cmsmasters_row_5ioidx849 .cmsmasters_row_outer_parent {
        padding-bottom: 40px;
    }
}
#cmsmasters_row_5ioidx849 .cmsmasters_row_inner.cmsmasters_row_fullwidth {
    padding-left:15%;
}
#cmsmasters_row_5ioidx849 .cmsmasters_row_inner.cmsmasters_row_fullwidth {
    padding-right:15%;
}

#cmsmasters_column_hm4qo0uu6b {
    -webkit-border-radius:20px 20px 20px 20px ;
    border-radius:20px 20px 20px 20px ; overflow:hidden;
}

#cmsmasters_column_hm4qo0uu6b .cmsmasters_column_inner {
    padding: 0% 6% 0% 6%;
}


#cmsmasters_icon_box_1id3jkgjtc {
    border-width:0px;
}

#cmsmasters_icon_box_1id3jkgjtc:before,
#cmsmasters_icon_box_1id3jkgjtc .icon_box_heading:before {
    font-size:80px;
    line-height:150px;
    width:150px;
    height:150px;
    border-width:0px;
    -webkit-border-radius:50%;
    border-radius:50%;
    color:#3ebcda;
    background-color:#ffffff;
}

#cmsmasters_icon_box_1id3jkgjtc {
    padding-top:180px; }

#cmsmasters_icon_box_1id3jkgjtc:before,
#cmsmasters_icon_box_1id3jkgjtc .icon_box_heading:before {
    margin-left:-75px;
}

#cmsmasters_icon_box_1id3jkgjtc.cmsmasters_icon_top {
    padding-top:210px;
}



#cmsmasters_heading_1pm6dc3xb {
    text-align:center;
    margin-top:0px;
    margin-bottom:20px;
}

#cmsmasters_heading_1pm6dc3xb .cmsmasters_heading {
    text-align:center;
}

#cmsmasters_heading_1pm6dc3xb .cmsmasters_heading, #cmsmasters_heading_1pm6dc3xb .cmsmasters_heading a {
    font-size:32px;
    color:#32a8c9;
}

#cmsmasters_heading_1pm6dc3xb .cmsmasters_heading a:hover {
}

#cmsmasters_heading_1pm6dc3xb .cmsmasters_heading_divider {
}



#cmsmasters_heading_wurssmfod {
    text-align:center;
    margin-top:0px;
    margin-bottom:20px;
}

#cmsmasters_heading_wurssmfod .cmsmasters_heading {
    text-align:center;
}

#cmsmasters_heading_wurssmfod .cmsmasters_heading, #cmsmasters_heading_wurssmfod .cmsmasters_heading a {
    font-family:'Arimo';
    font-size:16px;
    line-height:26px;
    color:#4a4f52;
}

#cmsmasters_heading_wurssmfod .cmsmasters_heading a:hover {
}

#cmsmasters_heading_wurssmfod .cmsmasters_heading_divider {
}



#cmsmasters_column_9v99e0qndg .cmsmasters_column_inner {
    padding: 0% 6% 0% 6%;
}


#cmsmasters_icon_box_1pox7xbdl6 {
    border-width:0px;
}

#cmsmasters_icon_box_1pox7xbdl6:before,
#cmsmasters_icon_box_1pox7xbdl6 .icon_box_heading:before {
    font-size:80px;
    line-height:150px;
    width:150px;
    height:150px;
    border-width:0px;
    -webkit-border-radius:50%;
    border-radius:50%;
    color:#28c1ce;
    background-color:#ffffff;
}

#cmsmasters_icon_box_1pox7xbdl6 {
    padding-top:180px; }

#cmsmasters_icon_box_1pox7xbdl6:before,
#cmsmasters_icon_box_1pox7xbdl6 .icon_box_heading:before {
    margin-left:-75px;
}

#cmsmasters_icon_box_1pox7xbdl6.cmsmasters_icon_top {
    padding-top:210px;
}



#cmsmasters_heading_h4dzav1new {
    text-align:center;
    margin-top:0px;
    margin-bottom:20px;
}

#cmsmasters_heading_h4dzav1new .cmsmasters_heading {
    text-align:center;
}

#cmsmasters_heading_h4dzav1new .cmsmasters_heading, #cmsmasters_heading_h4dzav1new .cmsmasters_heading a {
    font-size:32px;
    color:#22a8b5;
}

#cmsmasters_heading_h4dzav1new .cmsmasters_heading a:hover {
}

#cmsmasters_heading_h4dzav1new .cmsmasters_heading_divider {
}



#cmsmasters_heading_vb4a1q7957 {
    text-align:center;
    margin-top:0px;
    margin-bottom:20px;
}

#cmsmasters_heading_vb4a1q7957 .cmsmasters_heading {
    text-align:center;
}

#cmsmasters_heading_vb4a1q7957 .cmsmasters_heading, #cmsmasters_heading_vb4a1q7957 .cmsmasters_heading a {
    font-family:'Arimo';
    font-size:16px;
    line-height:26px;
    color:#4a4f52;
}

#cmsmasters_heading_vb4a1q7957 .cmsmasters_heading a:hover {
}

#cmsmasters_heading_vb4a1q7957 .cmsmasters_heading_divider {
}



#cmsmasters_column_0mn6ah96sv .cmsmasters_column_inner {
    padding: 0% 6% 0% 6%;
}


#cmsmasters_icon_box_libyun9wc {
    border-width:0px;
}

#cmsmasters_icon_box_libyun9wc:before,
#cmsmasters_icon_box_libyun9wc .icon_box_heading:before {
    font-size:80px;
    line-height:150px;
    width:150px;
    height:150px;
    border-width:0px;
    -webkit-border-radius:50%;
    border-radius:50%;
    color:#23c6ae;
    background-color:#ffffff;
}

#cmsmasters_icon_box_libyun9wc {
    padding-top:180px; }

#cmsmasters_icon_box_libyun9wc:before,
#cmsmasters_icon_box_libyun9wc .icon_box_heading:before {
    margin-left:-75px;
}

#cmsmasters_icon_box_libyun9wc.cmsmasters_icon_top {
    padding-top:210px;
}



#cmsmasters_heading_wahb3zr2je {
    text-align:center;
    margin-top:0px;
    margin-bottom:20px;
}

#cmsmasters_heading_wahb3zr2je .cmsmasters_heading {
    text-align:center;
}

#cmsmasters_heading_wahb3zr2je .cmsmasters_heading, #cmsmasters_heading_wahb3zr2je .cmsmasters_heading a {
    font-size:32px;
    color:#20b599;
}

#cmsmasters_heading_wahb3zr2je .cmsmasters_heading a:hover {
}

#cmsmasters_heading_wahb3zr2je .cmsmasters_heading_divider {
}



#cmsmasters_heading_w2b6surwge {
    text-align:center;
    margin-top:0px;
    margin-bottom:20px;
}

#cmsmasters_heading_w2b6surwge .cmsmasters_heading {
    text-align:center;
}

#cmsmasters_heading_w2b6surwge .cmsmasters_heading, #cmsmasters_heading_w2b6surwge .cmsmasters_heading a {
    font-family:'Arimo';
    font-size:16px;
    line-height:26px;
    color:#4a4f52;
}

#cmsmasters_heading_w2b6surwge .cmsmasters_heading a:hover {
}

#cmsmasters_heading_w2b6surwge .cmsmasters_heading_divider {
}



#cmsmasters_column_o4aniea74 .cmsmasters_column_inner {
    padding: 0% 6% 0% 6%;
}


#cmsmasters_icon_box_u3c2kwkr5j {
    border-width:0px;
}

#cmsmasters_icon_box_u3c2kwkr5j:before,
#cmsmasters_icon_box_u3c2kwkr5j .icon_box_heading:before {
    font-size:80px;
    line-height:150px;
    width:150px;
    height:150px;
    border-width:0px;
    -webkit-border-radius:50%;
    border-radius:50%;
    color:#45da88;
    background-color:#ffffff;
}

#cmsmasters_icon_box_u3c2kwkr5j {
    padding-top:180px; }

#cmsmasters_icon_box_u3c2kwkr5j:before,
#cmsmasters_icon_box_u3c2kwkr5j .icon_box_heading:before {
    margin-left:-75px;
}

#cmsmasters_icon_box_u3c2kwkr5j.cmsmasters_icon_top {
    padding-top:210px;
}



#cmsmasters_heading_v9r1kwu5e {
    text-align:center;
    margin-top:0px;
    margin-bottom:20px;
}

#cmsmasters_heading_v9r1kwu5e .cmsmasters_heading {
    text-align:center;
}

#cmsmasters_heading_v9r1kwu5e .cmsmasters_heading, #cmsmasters_heading_v9r1kwu5e .cmsmasters_heading a {
    font-size:32px;
    color:#3bba78;
}

#cmsmasters_heading_v9r1kwu5e .cmsmasters_heading a:hover {
}

#cmsmasters_heading_v9r1kwu5e .cmsmasters_heading_divider {
}



#cmsmasters_heading_0sfho3jni1 {
    text-align:center;
    margin-top:0px;
    margin-bottom:20px;
}

#cmsmasters_heading_0sfho3jni1 .cmsmasters_heading {
    text-align:center;
}

#cmsmasters_heading_0sfho3jni1 .cmsmasters_heading, #cmsmasters_heading_0sfho3jni1 .cmsmasters_heading a {
    font-family:'Arimo';
    font-size:16px;
    line-height:26px;
    color:#4a4f52;
}

#cmsmasters_heading_0sfho3jni1 .cmsmasters_heading a:hover {
}

#cmsmasters_heading_0sfho3jni1 .cmsmasters_heading_divider {
}


@media screen and (max-width: 1440px) and  (min-width: 1024px){
    #cmsmasters_row_h53s5vwgfl .cmsmasters_icon_box::before{
        line-height: 160px;
        width: 160px;
        height: 160px;
        margin-left: -70px;
    }
}#cmsmasters_row_3emre5k2ud .cmsmasters_row_outer_parent {
     padding-top: 0px;
 }

#cmsmasters_row_3emre5k2ud .cmsmasters_row_outer_parent {
    padding-bottom: 0px;
}


@media only screen and (max-width: 768px) {
    #cmsmasters_row_3emre5k2ud .cmsmasters_row_outer_parent {
        padding-bottom: 65px;
    }
}

@media only screen and (max-width: 540px) {
    #cmsmasters_row_3emre5k2ud .cmsmasters_row_outer_parent {
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 320px) {
    #cmsmasters_row_3emre5k2ud .cmsmasters_row_outer_parent {
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 320px) {
    #cmsmasters_row_3emre5k2ud {
        margin-top: -50px;
    }
}
#cmsmasters_row_3emre5k2ud .cmsmasters_row_inner.cmsmasters_row_fullwidth {
    padding-left:0%;
}
#cmsmasters_row_3emre5k2ud .cmsmasters_row_inner.cmsmasters_row_fullwidth {
    padding-right:0%;
}


#cmsmasters_fb_13mgyiau9y {
    padding-top:150px;
    padding-bottom:150px;
    background-image: url(https://www.care-steps.com/denta/img/assisted-living-05.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#cmsmasters_fb_13mgyiau9y .featured_block_inner {
    width: 100%;
    text-align: left;
    margin:0 auto;
}

#cmsmasters_fb_13mgyiau9y .featured_block_text {
    text-align: left;
}



@media only screen and (max-width: 768px) {
    #cmsmasters_fb_13mgyiau9y {
        padding-top: 0px;
    }
}

@media only screen and (max-width: 768px) {
    #cmsmasters_fb_13mgyiau9y {
        padding-bottom: 0px;
    }
}

#cmsmasters_column_rpxpmctwbs {
    background-color:#f0f7fd;
}

#cmsmasters_column_rpxpmctwbs .cmsmasters_column_inner {
    padding: 12% 30% 11% 10%;
}


#cmsmasters_heading_ewlo9x9cfk {
    text-align:left;
    margin-top:0px;
    margin-bottom:0px;
}

#cmsmasters_heading_ewlo9x9cfk .cmsmasters_heading {
    text-align:left;
}

#cmsmasters_heading_ewlo9x9cfk .cmsmasters_heading, #cmsmasters_heading_ewlo9x9cfk .cmsmasters_heading a {
    font-family:'Fira Sans';
    font-size:22px;
    line-height:28px;
    font-weight:300;
    color:#0a6076;
}

#cmsmasters_heading_ewlo9x9cfk .cmsmasters_heading a:hover {
}

#cmsmasters_heading_ewlo9x9cfk .cmsmasters_heading_divider {
}



#cmsmasters_heading_jql01vdwy8 {
    text-align:left;
    margin-top:15px;
    margin-bottom:40px;
}

#cmsmasters_heading_jql01vdwy8 .cmsmasters_heading {
    text-align:left;
}

#cmsmasters_heading_jql01vdwy8 .cmsmasters_heading, #cmsmasters_heading_jql01vdwy8 .cmsmasters_heading a {
    font-family:'Fira Sans';
    font-size:38px;
    line-height:44px;
    font-weight:300;
    color:#292834;
}

#cmsmasters_heading_jql01vdwy8 .cmsmasters_heading a:hover {
}

#cmsmasters_heading_jql01vdwy8 .cmsmasters_heading_divider {
}



#cmsmasters_divider_kmivjnt3q4 {
    border-bottom-width:0px;
    border-bottom-style:solid;
    margin-top:0px;
    margin-bottom:45px;
}

#cmsmasters_button_0czv06nbc6 {
    float:left;
    text-align:left;

}

#cmsmasters_button_0czv06nbc6 .cmsmasters_button:before {
    margin-right:.5em;
    margin-left:0;
    vertical-align:baseline;
}

#cmsmasters_button_0czv06nbc6 .cmsmasters_button {
    font-family:'Arimo';
    font-size:12px;
    line-height:36px;
    font-weight:bold;
}
#cmsmasters_button_0czv06nbc6 .cmsmasters_button:hover {
}

#cmsmasters_row_4fpvrofujh .cmsmasters_row_outer_parent {
    padding-top: 0px;
}

#cmsmasters_row_4fpvrofujh .cmsmasters_row_outer_parent {
    padding-bottom: 0px;
}

#cmsmasters_row_4fpvrofujh .cmsmasters_row_inner.cmsmasters_row_fullwidth {
    padding-left:0%;
}
#cmsmasters_row_4fpvrofujh .cmsmasters_row_inner.cmsmasters_row_fullwidth {
    padding-right:0%;
}

.safari_only #cmsmasters_fb_13mgyiau9y .featured_block_inner,
.safari_mobile_only #cmsmasters_fb_13mgyiau9y .featured_block_inner{
    padding-bottom: 100%;

}

@media only screen and (min-width: 768px) {

    #cmsmasters_column_zgbeh0uc1j{margin: 0;}

}

@media only screen and (max-width: 768px) {

    #cmsmasters_column_zgbeh0uc1j{
        margin: 0 0 -35%;
    }


    .safari_only #cmsmasters_fb_13mgyiau9y .featured_block_inner,
    .safari_mobile_only #cmsmasters_fb_13mgyiau9y .featured_block_inner{
        padding-bottom: 10%;

    }

}
#cmsmasters_row_af06ucr4aj {
    background-image: url(https://denta.cmsmasters.net/demo/wp-content/uploads/sites/5/2017/08/rectangle-9-copy-5-2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#cmsmasters_row_af06ucr4aj .cmsmasters_row_inner.cmsmasters_row_fullwidth {
    padding-left:0%;
}
#cmsmasters_row_af06ucr4aj .cmsmasters_row_inner.cmsmasters_row_fullwidth {
    padding-right:0%;
}

#cmsmasters_column_me88xxzzix {
    background-image: url(https://denta.cmsmasters.net/demo/wp-content/uploads/sites/5/2017/08/e12-1-2.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    position: static;
}

#cmsmasters_column_me88xxzzix .cmsmasters_column_inner {
    padding: 95px 15% 35px;
}


@media only screen and (max-width: 768px) {
    #cmsmasters_column_me88xxzzix .cmsmasters_column_inner {
        padding: 75px 15% 15px;
    }
}

#cmsmasters_counters_3v6fv1n55 .cmsmasters_counter.counter_has_icon .cmsmasters_counter_inner,
#cmsmasters_counters_3v6fv1n55 .cmsmasters_counter.counter_has_image .cmsmasters_counter_inner {
    padding-top:34px;
}

#cmsmasters_counters_3v6fv1n55.counters_type_horizontal .cmsmasters_counter.counter_has_icon .cmsmasters_counter_subtitle,
#cmsmasters_counters_3v6fv1n55.counters_type_horizontal .cmsmasters_counter.counter_has_image .cmsmasters_counter_subtitle {
    padding-left:44px;
}

#cmsmasters_counters_3v6fv1n55.counters_type_vertical .cmsmasters_counter .cmsmasters_counter_inner:before {
    margin-left:-12px;
}

#cmsmasters_counters_3v6fv1n55.counters_type_horizontal .cmsmasters_counter .cmsmasters_counter_inner .cmsmasters_counter_counter_wrap {
    line-height:24px;
}

#cmsmasters_counters_3v6fv1n55 .cmsmasters_counter .cmsmasters_counter_inner:before {
    font-size:50px;
    line-height:24px;
    width:24px;
    height:24px;
    border-width:0px;
    -webkit-border-radius:50%;
    border-radius:50%;
}


#cmsmasters_counter_3v6fv1n55 .cmsmasters_counter_inner:before {
}

#cmsmasters_counter_3v6fv1n55 .cmsmasters_counter_counter_wrap {
    color:#ffffff;
}

#cmsmasters_counter_3v6fv1n55 .cmsmasters_counter_inner:before {
}

#cmsmasters_counter_3v6fv1n55 .cmsmasters_counter_counter_wrap {
    color:#ffffff;
}

#cmsmasters_counter_3v6fv1n55 .cmsmasters_counter_inner:before {
}

#cmsmasters_counter_3v6fv1n55 .cmsmasters_counter_counter_wrap {
    color:#ffffff;
}

#cmsmasters_counter_3v6fv1n55 .cmsmasters_counter_inner:before {
}

#cmsmasters_counter_3v6fv1n55 .cmsmasters_counter_counter_wrap {
    color:#ffffff;
}

#cmsmasters_counter_3v6fv1n55 .cmsmasters_counter_inner:before {
}

#cmsmasters_counter_3v6fv1n55 .cmsmasters_counter_counter_wrap {
    color:#ffffff;
}
#cmsmasters_row_mnx8bym622 .cmsmasters_row_outer_parent {
    padding-top: 130px;
}

#cmsmasters_row_mnx8bym622 .cmsmasters_row_outer_parent {
    padding-bottom: 375px;
}


@media only screen and (max-width: 1024px) {
    #cmsmasters_row_mnx8bym622 .cmsmasters_row_outer_parent {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 1024px) {
    #cmsmasters_row_mnx8bym622 .cmsmasters_row_outer_parent {
        padding-bottom: 320px;
    }
}

@media only screen and (max-width: 768px) {
    #cmsmasters_row_mnx8bym622 .cmsmasters_row_outer_parent {
        padding-top: 100px;
    }
}

@media only screen and (max-width: 768px) {
    #cmsmasters_row_mnx8bym622 .cmsmasters_row_outer_parent {
        padding-bottom: 255px;
    }
}

#cmsmasters_row_1temtegug {
    background-image: url(https://denta.cmsmasters.net/demo/wp-content/uploads/sites/5/2017/08/home-4-1-2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#cmsmasters_row_1temtegug .cmsmasters_row_outer_parent {
    padding-bottom: 120px;
}


@media only screen and (max-width: 1024px) {
    #cmsmasters_row_1temtegug .cmsmasters_row_outer_parent {
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 768px) {
    #cmsmasters_row_1temtegug .cmsmasters_row_outer_parent {
        padding-top: 50px;
    }
}


#cmsmasters_heading_drrwqbnt7m {
    text-align:center;
    margin-top:-245px;
    margin-bottom:50px;
}

#cmsmasters_heading_drrwqbnt7m .cmsmasters_heading {
    text-align:center;
}

#cmsmasters_heading_drrwqbnt7m .cmsmasters_heading, #cmsmasters_heading_drrwqbnt7m .cmsmasters_heading a {
    font-family:'Fira Sans';
    font-size:38px;
    line-height:48px;
    font-weight:300;
    color:#1a1c22;
}

#cmsmasters_heading_drrwqbnt7m .cmsmasters_heading a:hover {
}

#cmsmasters_heading_drrwqbnt7m .cmsmasters_heading_divider {
}



#cmsmasters_heading_0oyj1350js {
    text-align:center;
    margin-top:135px;
    margin-bottom:45px;
}

#cmsmasters_heading_0oyj1350js .cmsmasters_heading {
    text-align:center;
}

#cmsmasters_heading_0oyj1350js .cmsmasters_heading, #cmsmasters_heading_0oyj1350js .cmsmasters_heading a {
    font-family:'Fira Sans';
    font-size:38px;
    line-height:48px;
    font-weight:300;
    color:#ffffff;
}

#cmsmasters_heading_0oyj1350js .cmsmasters_heading a:hover {
}

#cmsmasters_heading_0oyj1350js .cmsmasters_heading_divider {
}


@media only screen and (min-width: 1025px){

    .cmsmasters_profile_horizontal .cmsmasters_img_social_wrap .profile_social_icons_list a{color: #fff !important;}
}


#cmsmasters_divider_5g04glom0p {
    border-bottom-width:0px;
    border-bottom-style:solid;
    margin-top:0px;
    margin-bottom:60px;
}

#cmsmasters_button_tni447wrt9 {

    text-align:center;

}

#cmsmasters_button_tni447wrt9 .cmsmasters_button:before {
    margin-right:.5em;
    margin-left:0;
    vertical-align:baseline;
}

#cmsmasters_button_tni447wrt9 .cmsmasters_button {
    font-size:12px;
    line-height:26px;
    padding-right:16px;
    padding-left:16px;
    background-color:rgba(255,255,255,0.3);-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color:#ffffff;
}
#cmsmasters_button_tni447wrt9 .cmsmasters_button:hover {
    background-color:#f4fafd;-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color:rgba(10,96,118,0.76);
    border-color:#ffffff;
}

#cmsmasters_row_in3id5rop4 {
    background-image: url(https://www.care-steps.com/denta/img/assisted-home-05.jpg);
    background-position: center left;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#cmsmasters_row_in3id5rop4 .cmsmasters_row_outer_parent {
    padding-top: 205px;
}

#cmsmasters_row_in3id5rop4 .cmsmasters_row_outer_parent {
    padding-bottom: 165px;
}


@media only screen and (max-width: 1024px) {
    #cmsmasters_row_in3id5rop4 .cmsmasters_row_outer_parent {
        padding-top: 65px;
    }
}

@media only screen and (max-width: 1024px) {
    #cmsmasters_row_in3id5rop4 .cmsmasters_row_outer_parent {
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 768px) {
    #cmsmasters_row_in3id5rop4 .cmsmasters_row_outer_parent {
        padding-top: 50px;
    }
}

@media only screen and (max-width: 768px) {
    #cmsmasters_row_in3id5rop4 .cmsmasters_row_outer_parent {
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 540px) {
    #cmsmasters_row_in3id5rop4 .cmsmasters_row_outer_parent {
        padding-top: 50px;
    }
}

@media only screen and (max-width: 540px) {
    #cmsmasters_row_in3id5rop4 .cmsmasters_row_outer_parent {
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 320px) {
    #cmsmasters_row_in3id5rop4 .cmsmasters_row_outer_parent {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 320px) {
    #cmsmasters_row_in3id5rop4 .cmsmasters_row_outer_parent {
        padding-bottom: 30px;
    }
}


#cmsmasters_heading_4j07sp0cxv {
    text-align:left;
    margin-top:0px;
    margin-bottom:20px;
}

#cmsmasters_heading_4j07sp0cxv .cmsmasters_heading {
    text-align:left;
}

#cmsmasters_heading_4j07sp0cxv .cmsmasters_heading, #cmsmasters_heading_4j07sp0cxv .cmsmasters_heading a {
    font-family:'Fira Sans';
    font-size:36px;
    line-height:46px;
    font-weight:300;
    color:#292834;
}

#cmsmasters_heading_4j07sp0cxv .cmsmasters_heading a:hover {
}

#cmsmasters_heading_4j07sp0cxv .cmsmasters_heading_divider {
}



#cmsmasters_heading_k2vdx8hntp {
    text-align:left;
    margin-top:0px;
    margin-bottom:40px;
}

#cmsmasters_heading_k2vdx8hntp .cmsmasters_heading {
    text-align:left;
}

#cmsmasters_heading_k2vdx8hntp .cmsmasters_heading, #cmsmasters_heading_k2vdx8hntp .cmsmasters_heading a {
    font-size:20px;
    font-weight:300;
    color:#292834;
}

#cmsmasters_heading_k2vdx8hntp .cmsmasters_heading a:hover {
}

#cmsmasters_heading_k2vdx8hntp .cmsmasters_heading_divider {
}


.mailpoet_hp_email_label{display:none;}#mailpoet_form_1 .mailpoet_form {  }
#mailpoet_form_1 .mailpoet_paragraph { line-height: 20px; }
#mailpoet_form_1 .mailpoet_segment_label, #mailpoet_form_1 .mailpoet_text_label, #mailpoet_form_1 .mailpoet_textarea_label, #mailpoet_form_1 .mailpoet_select_label, #mailpoet_form_1 .mailpoet_radio_label, #mailpoet_form_1 .mailpoet_checkbox_label, #mailpoet_form_1 .mailpoet_list_label, #mailpoet_form_1 .mailpoet_date_label { display: block; font-weight: bold; }
#mailpoet_form_1 .mailpoet_text, #mailpoet_form_1 .mailpoet_textarea, #mailpoet_form_1 .mailpoet_select, #mailpoet_form_1 .mailpoet_date_month, #mailpoet_form_1 .mailpoet_date_day, #mailpoet_form_1 .mailpoet_date_year, #mailpoet_form_1 .mailpoet_date { display: block; }
#mailpoet_form_1 .mailpoet_text, #mailpoet_form_1 .mailpoet_textarea { width: 200px; }
#mailpoet_form_1 .mailpoet_checkbox {  }
#mailpoet_form_1 .mailpoet_submit input {  }
#mailpoet_form_1 .mailpoet_divider {  }
#mailpoet_form_1 .mailpoet_message {  }
#mailpoet_form_1 .mailpoet_validate_success { color: #468847; }
#mailpoet_form_1 .mailpoet_validate_error { color: #b94a48; }
#cmsmasters_heading_t1delssmvn {
    text-align:left;
    margin-top:0px;
    margin-bottom:0px;
}

#cmsmasters_heading_t1delssmvn .cmsmasters_heading {
    text-align:left;
}

#cmsmasters_heading_t1delssmvn .cmsmasters_heading, #cmsmasters_heading_t1delssmvn .cmsmasters_heading a {
    font-family:'Arimo';
    font-size:16px;
    line-height:20px;
    font-weight:400;
    color:#787d7f;
}

#cmsmasters_heading_t1delssmvn .cmsmasters_heading a:hover {
}

#cmsmasters_heading_t1delssmvn .cmsmasters_heading_divider {
}


@media only screen and (max-width: 540px) {
    #cmsmasters_heading_t1delssmvn {
        margin-top: 25px;
    }
}


#cmsmasters_row_mrxier2s5v {
    background-color:#ffffff;
}

#cmsmasters_row_mrxier2s5v .cmsmasters_row_outer_parent {
    padding-top: 120px;
}

#cmsmasters_row_mrxier2s5v .cmsmasters_row_outer_parent {
    padding-bottom: 70px;
}


@media only screen and (max-width: 1024px) {
    #cmsmasters_row_mrxier2s5v .cmsmasters_row_outer_parent {
        padding-top: 40px;
    }
}

@media only screen and (max-width: 1024px) {
    #cmsmasters_row_mrxier2s5v .cmsmasters_row_outer_parent {
        padding-bottom: 40px;
    }
}

@media only screen and (max-width: 768px) {
    #cmsmasters_row_mrxier2s5v .cmsmasters_row_outer_parent {
        padding-top: 40px;
    }
}

@media only screen and (max-width: 768px) {
    #cmsmasters_row_mrxier2s5v .cmsmasters_row_outer_parent {
        padding-bottom: 40px;
    }
}

@media only screen and (max-width: 540px) {
    #cmsmasters_row_mrxier2s5v .cmsmasters_row_outer_parent {
        padding-top: 40px;
    }
}

@media only screen and (max-width: 540px) {
    #cmsmasters_row_mrxier2s5v .cmsmasters_row_outer_parent {
        padding-bottom: 40px;
    }
}

@media only screen and (max-width: 320px) {
    #cmsmasters_row_mrxier2s5v .cmsmasters_row_outer_parent {
        padding-top: 50px;
    }
}

@media only screen and (max-width: 320px) {
    #cmsmasters_row_mrxier2s5v .cmsmasters_row_outer_parent {
        padding-bottom: 25px;
    }
}


#cmsmasters_heading_vkgy5x62qm {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
}

#cmsmasters_heading_vkgy5x62qm .cmsmasters_heading {
    text-align:center;
    background-color:#ffffff;
    padding-left:1em;
    padding-right:1em;
}

#cmsmasters_heading_vkgy5x62qm .cmsmasters_heading, #cmsmasters_heading_vkgy5x62qm .cmsmasters_heading a {
    font-family:'Fira Sans';
    font-size:38px;
    line-height:48px;
    font-weight:300;
    color:#1c1e24;
}

#cmsmasters_heading_vkgy5x62qm .cmsmasters_heading a:hover {
}

#cmsmasters_heading_vkgy5x62qm .cmsmasters_heading_divider {
}


#cmsmasters_row_qiaf46nojh {
    background-color:#ffffff;
}

#cmsmasters_row_qiaf46nojh .cmsmasters_row_outer_parent {
    padding-top: 0px;
}

#cmsmasters_row_qiaf46nojh .cmsmasters_row_outer_parent {
    padding-bottom: 90px;
}


@media only screen and (max-width: 1024px) {
    #cmsmasters_row_qiaf46nojh .cmsmasters_row_outer_parent {
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 768px) {
    #cmsmasters_row_qiaf46nojh .cmsmasters_row_outer_parent {
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 540px) {
    #cmsmasters_row_qiaf46nojh .cmsmasters_row_outer_parent {
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 320px) {
    #cmsmasters_row_qiaf46nojh .cmsmasters_row_outer_parent {
        padding-top: 25px;
    }
}

@media only screen and (max-width: 320px) {
    #cmsmasters_row_qiaf46nojh .cmsmasters_row_outer_parent {
        padding-bottom: 0px;
    }
}

#cmsmasters_slider_2yhfwtaddd{
    padding-bottom: 0;
}
#cmsmasters_column_cz8cozd2h8{
    margin-bottom: 0;
}
#cmsmasters_row_dxoojj7v6q {
    background-image: url(https://denta.cmsmasters.net/demo/wp-content/uploads/sites/5/2017/08/home-6-2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#cmsmasters_row_dxoojj7v6q .cmsmasters_row_outer_parent {
    padding-top: 60px;
}

#cmsmasters_row_dxoojj7v6q .cmsmasters_row_outer_parent {
    padding-bottom: 43px;
}


@media only screen and (max-width: 768px) {
    #cmsmasters_row_dxoojj7v6q .cmsmasters_row_outer_parent {
        padding-top: 40px;
    }
}

@media only screen and (max-width: 768px) {
    #cmsmasters_row_dxoojj7v6q .cmsmasters_row_outer_parent {
        padding-bottom: 31px;
    }
}

@media only screen and (max-width: 540px) {
    #cmsmasters_row_dxoojj7v6q .cmsmasters_row_outer_parent {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 540px) {
    #cmsmasters_row_dxoojj7v6q .cmsmasters_row_outer_parent {
        padding-bottom: 21px;
    }
}

@media only screen and (max-width: 320px) {
    #cmsmasters_row_dxoojj7v6q .cmsmasters_row_outer_parent {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 320px) {
    #cmsmasters_row_dxoojj7v6q .cmsmasters_row_outer_parent {
        padding-bottom: 30px;
    }
}


#cmsmasters_fb_kwcdkuzzxs {
    padding-top:0px;
    padding-bottom:0px;
}

#cmsmasters_fb_kwcdkuzzxs .featured_block_inner {
    width: 100%;
    text-align: left;
    margin:0 auto;
}

#cmsmasters_fb_kwcdkuzzxs .featured_block_text {
    text-align: left;
}


#cmsmasters_row_hl3c70mx5p {
    background-color:#08596f;
    background-image: url(https://denta.cmsmasters.net/demo/wp-content/uploads/sites/5/2017/08/e22-2.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    position: static;
}

#cmsmasters_row_hl3c70mx5p .cmsmasters_row_outer_parent {
    padding-top: 70px;
}

#cmsmasters_row_hl3c70mx5p .cmsmasters_row_outer_parent {
    padding-bottom: 95px;
}


@media only screen and (max-width: 1024px) {
    #cmsmasters_row_hl3c70mx5p .cmsmasters_row_outer_parent {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 1024px) {
    #cmsmasters_row_hl3c70mx5p .cmsmasters_row_outer_parent {
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 768px) {
    #cmsmasters_row_hl3c70mx5p .cmsmasters_row_outer_parent {
        padding-top: 35px;
    }
}

@media only screen and (max-width: 768px) {
    #cmsmasters_row_hl3c70mx5p .cmsmasters_row_outer_parent {
        padding-bottom: 65px;
    }
}


#cmsmasters_heading_hl9mrynak6 {
    text-align:left;
    margin-top:45px;
    margin-bottom:50px;
}

#cmsmasters_heading_hl9mrynak6 .cmsmasters_heading {
    text-align:left;
}

#cmsmasters_heading_hl9mrynak6 .cmsmasters_heading, #cmsmasters_heading_hl9mrynak6 .cmsmasters_heading a {
    font-family:'Fira Sans';
    font-size:24px;
    line-height:24px;
    font-weight:300;
}

#cmsmasters_heading_hl9mrynak6 .cmsmasters_heading a:hover {
}

#cmsmasters_heading_hl9mrynak6 .cmsmasters_heading_divider {
}




#cmsmasters_heading_z437ry6tn {
    text-align:left;
    margin-top:45px;
    margin-bottom:50px;
}

#cmsmasters_heading_z437ry6tn .cmsmasters_heading {
    text-align:left;
}

#cmsmasters_heading_z437ry6tn .cmsmasters_heading, #cmsmasters_heading_z437ry6tn .cmsmasters_heading a {
    font-family:'Fira Sans';
    font-size:24px;
    line-height:24px;
    font-weight:300;
}

#cmsmasters_heading_z437ry6tn .cmsmasters_heading a:hover {
}

#cmsmasters_heading_z437ry6tn .cmsmasters_heading_divider {
}




#cmsmasters_heading_wmq8f31dwh {
    text-align:left;
    margin-top:45px;
    margin-bottom:50px;
}

#cmsmasters_heading_wmq8f31dwh .cmsmasters_heading {
    text-align:left;
}

#cmsmasters_heading_wmq8f31dwh .cmsmasters_heading, #cmsmasters_heading_wmq8f31dwh .cmsmasters_heading a {
    font-family:'Fira Sans';
    font-size:24px;
    line-height:24px;
    font-weight:300;
}

#cmsmasters_heading_wmq8f31dwh .cmsmasters_heading a:hover {
}

#cmsmasters_heading_wmq8f31dwh .cmsmasters_heading_divider {
}




#cmsmasters_heading_z9tjdhi56 {
    text-align:left;
    margin-top:45px;
    margin-bottom:50px;
}

#cmsmasters_heading_z9tjdhi56 .cmsmasters_heading {
    text-align:left;
}

#cmsmasters_heading_z9tjdhi56 .cmsmasters_heading, #cmsmasters_heading_z9tjdhi56 .cmsmasters_heading a {
    font-family:'Fira Sans';
    font-size:24px;
    line-height:24px;
    font-weight:300;
}

#cmsmasters_heading_z9tjdhi56 .cmsmasters_heading a:hover {
}

#cmsmasters_heading_z9tjdhi56 .cmsmasters_heading_divider {
}


#cmsmasters_row_b7rpcj1deu .cmsmasters_row_outer_parent {
    padding-top: 0px;
}

#cmsmasters_row_b7rpcj1deu .cmsmasters_row_outer_parent {
    padding-bottom: 0px;
}

#cmsmasters_row_b7rpcj1deu .cmsmasters_row_overlay {
    background-color:#05313d;
}


#page{
    line-height: 1.67;
}

@media only screen and (min-width: 1025px) {
    #middle{
        padding-top: 180px;
    }
}

.mailpoet_hp_email_label{display:none!important;}#mailpoet_form_1 .mailpoet_form { padding: 10px; }
#mailpoet_form_1 .mailpoet_column_with_background { padding: 10px; }
#mailpoet_form_1 .mailpoet_form_column:not(:first-child) { margin-left: 20px; }
#mailpoet_form_1 .mailpoet_paragraph { line-height: 20px; margin-bottom: 20px; }
#mailpoet_form_1 .mailpoet_segment_label, #mailpoet_form_1 .mailpoet_text_label, #mailpoet_form_1 .mailpoet_textarea_label, #mailpoet_form_1 .mailpoet_select_label, #mailpoet_form_1 .mailpoet_radio_label, #mailpoet_form_1 .mailpoet_checkbox_label, #mailpoet_form_1 .mailpoet_list_label, #mailpoet_form_1 .mailpoet_date_label { display: block; font-weight: normal; }
#mailpoet_form_1 .mailpoet_text, #mailpoet_form_1 .mailpoet_textarea, #mailpoet_form_1 .mailpoet_select, #mailpoet_form_1 .mailpoet_date_month, #mailpoet_form_1 .mailpoet_date_day, #mailpoet_form_1 .mailpoet_date_year, #mailpoet_form_1 .mailpoet_date { display: block; }
#mailpoet_form_1 .mailpoet_text, #mailpoet_form_1 .mailpoet_textarea { width: 200px; }
#mailpoet_form_1 .mailpoet_checkbox {  }
#mailpoet_form_1 .mailpoet_submit {  }
#mailpoet_form_1 .mailpoet_divider {  }
#mailpoet_form_1 .mailpoet_message {  }
#mailpoet_form_1 .mailpoet_validate_success { font-weight: 600; color: #468847; }
#mailpoet_form_1 .mailpoet_validate_error { color: #b94a48; }
#mailpoet_form_1 .mailpoet_form_loading { width: 30px; text-align: center; line-height: normal; }
#mailpoet_form_1 .mailpoet_form_loading > span { width: 5px; height: 5px; background-color: #5b5b5b; }

.navigation-link {
    font-weight: bold;
}

.has-error {
    box-shadow: inset 0 0 0px 2px #ff0000;
}

.register-card {
    background-color: #f4fafd;
    margin-bottom: 50px;
}
